<header>
     <header>
      <div class="container">
        <a id="a-title" href="{{ relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
    <div style="text-align:center;">
      <a href="https://www.linkedin.com/in/prasanthc41m/"><i class="fa fa-linkedin"></i></a>  <a href="https://prasanthc41m.medium.com/"><i class="fa fa-medium"></i></a>  <a href="https://github.com/prasanthc41m"><i class="fa fa-github"></i></a>
      <div class="header-links">
      {% include links.html %}
    </div>
    </div>
  </div>
</header>
