<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@work:~$</h1>
    <div style="text-align:left;">
      <a href="https://www.linkedin.com/in/prasanthc41m/">Linkedin</a>  <a href="https://prasanthc41m.medium.com/">Medium</a>  <a href="https://github.com/prasanthc41m">Github</a>
      <a href="https://www.linkedin.com/in/prasanthc41m/" class="btn btn-linkedin"></a>  <a href="https://prasanthc41m.medium.com/" class="btn btn-medium"></a>  <a href="https://github.com/prasanthc41m" class="btn btn-github"><span class="icon"></span></a>
      <div class="header-links">
      {% include links.html %}
    </div>
    </div>
  </div>
</header>
