<a href="https://prasanthk.com"><i class="fa fa-home"></i></a><h2 class="header-link"></h2>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-archive"></i><h2 class="header-link"></h2></a>
<!-- <a href="{{ "/whoami" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">whoami</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a> -->
<a>   |   <h2 class="header-link"></h2></a>
<a href="https://www.linkedin.com/in/prasanthc41m/" target="_blank"><i class="fa fa-linkedin"></i><h2 class="header-link"></h2></a>  
<a href="https://prasanthc41m.medium.com/" target="_blank"><i class="fa fa-medium"></i><h2 class="header-link"></h2></a>  
<a href="https://github.com/prasanthc41m" target="_blank"><i class="fa fa-github"></i><h2 class="header-link"></h2></a>
